/* Styles */
/* fonts */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.head{
   background-image: url('../Assets/Hero-bg.png');
   background-repeat: no-repeat;
   background-position: center;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.title-website{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.btn-primary{
background-color: #4E47FF;
   color: rgba(255, 255, 255, 1);
   font-size: 16px;
   font-weight: bold;
   padding: 12px 36px;
   border-radius: 10px;
   border: none;
}
.btn-primary:hover{
    background-color: rgba(127, 204, 255, 0.795);
}
.head-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}
/* head another button  */
.btn-stay{
    padding: 12px 36px;
    text-align: center;
    background-color:#4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}
/* mouse hover */
.btn-stay:hover{
    background-color: rgba(127, 204, 255, 0.795);
}
/* text center */
.text-center{

    text-align: center;
}
.main-head{
    padding: 158px 267.5px 152px 267.5px;
}
/* action */
.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 116px 159px 116px 141px; */
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 116px;
}

.action-title{
    font-size: 42px;
    font-weight: bold;
}
.action-detail{
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
}
.wc-mini{
    border-radius: 48px;
    border: none;
    margin-left: 220px;
    /* margin-right: 159px; */
}

/* productive user section */
.productive-user{
    background-color: rgba(78, 71, 255, 0.1);
    align-items: center;
    max-width: 1140px;
    border-radius: 24px;
    margin: 0 auto;
    margin-top: 116px;
    text-align: center;
}
.user-title{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 0px;
}
.users{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 142px;
    gap: 158px;
    margin-bottom: 0;
}
.user-action{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;

}
.user-detail{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    padding-top: 0%;
}

/* user feedback */
.users-feedback{
    /* align-items: center; */
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 137px;


}
.feed-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.feedback{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 24px;
}
.review{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(242, 237, 237, 1);
    border-color: rgba(242, 237, 237, 1);
    border-radius: 14px;
    padding: 24px;

}
.image{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.reviewer-info{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.view-title{
    font-size: 24px;
    font-weight: 600;
    color:#1E1E1E;
}
.view-detail{
    font-size: 18px;
    font-weight: 400;
    color: #1E1E1E;
}
.reviewer-name{
    font-size: 16px;
    font-weight: 600;
    color: #757575;
}
.reviewer-date{
    font-size: 16px;
    font-weight: 400;
    color: #B3B3B3;
    margin-top: 0px;
}
.review-image{
    width: 40px;
    height: 40px; 
    border: solid white;
    border-radius: 9999px;
    display: flex;
    background-color: white; 
    overflow: hidden;
    margin-right: 12px;
}


